<mat-toolbar class="header mat-elevation-z4">
    <button mat-raised-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar style="background-color: transparent;">&nbsp;</mat-toolbar>
<mat-drawer-container>
    <!--menu lateral-->
    <mat-drawer #drawer mode="side" opened class="sidenav">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <!--router/content-->
    <mat-drawer-content>
        <div style="
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
        margin-top: 1%;
        ">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>